{% extends "base.html" %}
{% block content %}

<form action="" method="post" name="search">
    {{ form.hidden_tag() }}
    {{ form.autocomp() }}
    <input type="submit" value="Search">
</form>
<br>

<style>
ul {
    list-style-position: inside;
}
</style>

<ul>
  <li>Every good social network has a suggestion feature to help find likely friends, colleagues, interests, music, etc.</li>
  <li>The Scholars@Duke data was analyzed to help faculty find likely future co-authors.</li>
  <li>This tool shows who one's co-authors are publishing with.</li>
  <li>Enter at least three letters of a faculty's name and select it to see who their Top 5 co-author suggestions.</li>
</ul>

<script>
$(function() {
    $.ajax({
        url: '{{ url_for("autocomplete") }}'
        }).done(function (data) {
            $('#autocomplete').autocomplete({
                source: data.json_list,
                minLength: 3
            });
        });
    });
</script>

{% endblock %}
